.resume-box ul {
    box-sizing: border-box;
    color: rgb(70, 70, 70);
    display: block;
    font-family: "Open Sans";
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 300;
    height: 424px;
    line-height: 21px;
    list-style-type: none;
    margin-bottom: 30px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 15px;
    text-size-adjust: 100%;
    width: 554.5px;
    -webkit-margin-after: 10px;
    -webkit-margin-before: 0px;
    -webkit-margin-end: 0px;
    -webkit-margin-start: 0px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

    .resume-box ul > li {
        box-sizing: border-box;
        color: rgb(70, 70, 70);
        display: list-item;
        font-family: "Open Sans", sans-serif;
        font-size: 13px;
        font-stretch: normal;
        font-style: normal;
        font-variant-caps: normal;
        font-variant-ligatures: normal;
        font-variant-numeric: normal;
        font-weight: 300;
        height: 128px;
        line-height: 21px;
        margin-bottom: 20px;
        text-align: left;
        text-size-adjust: 100%;
        width: 554.5px;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }



.year {
    border-right-color: rgb(220, 220, 220);
    border-right-style: solid;
    border-right-width: 1px;
    box-sizing: border-box;
    display: block;
    float: left;
    font-family: "Open Sans", sans-serif;
    font-stretch: normal;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 300;
    height: 128px;
    line-height: 21px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    text-align: center;
    text-size-adjust: 100%;
    width:200px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding-top:40px;
}

    .year > div > h4 {
        color: black;
        
    }

.box-content {
    box-sizing: border-box;
    display: block;
    font-family: "Open Sans", sans-serif;
    font-stretch: normal;
    font-style: normal;
    font-variant-caps: normal;
    font-weight: 300;
    height: 128px;
    line-height: 21px;
    list-style-type: none;
    padding-bottom: 10px;
    padding-left: 220px;
    padding-right: 0px;
    padding-top: 10px;
    text-align: left;
    text-size-adjust: 100%;
    width: 554.5px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    
}

    .box-content > h4 {
        color: black;
        width:600px;
    }
     .box-content > p {
       
        margin-bottom:125px;
        /*border:1px solid red;*/
        margin-bottom:50px;
    }